<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.sns.like.mapper.LikeMapper">
	<select id="selectLikeCountByPostIdUserId" resultType="com.sns.like.domain.Like">
		SELECT
			`postId`
			,`userId`
			,`createdAt`
		FROM
			`like`
		WHERE 
		`postId` = #{postId}
		AND
		`userId` = #{userId}
	</select> 
	
	<insert id="insertLike" parameterType="map">
		INSERT INTO `like`
		(
			`postId`
			,`userId`
			,`createdAt`
		)
		VALUES
		(
			#{postId}
			, #{userId}
			, NOW()
		)
		
	</insert>
	
	<delete id="deleteLikeByUserIdAndPosetId" parameterType="int">
		DELETE
		FROM	
			`like`
		WHERE
			`postId` =  #{postId}
		AND
			`userId` =  #{userId}
	</delete>
	
	<select id="selectLikeByPostId" resultType="com.sns.like.domain.Like">
		SELECT
			`postId`
			,`userId`
			,`createdAt`
		FROM
			`like`
		WHERE 
		`postId` = #{postId}
	</select> 
 </mapper>
